PORT=10000
NODE_ENV=production
COOKIE_SECURE=true
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSL=true
SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
DEVELOPER_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_KEY
DEFAULT_EXPIRY=2099-12-31
